<!DOCTYPE html>
<html>
<head>
    <title>Object Detection</title>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="column">
            <h1>Object Detection</h1>
            <div class="sliders">
                <div>
                    <label for="conf">Conf:</label>
                    <input type="range" id="conf" name="conf" min="0" max="100" step="1">
                    <span id="confValue">0</span>
                </div>
                <div>
                    <label for="iou">IOU:</label>
                    <input type="range" id="iou" name="iou" min="0" max="100" step="1">
                    <span id="iouValue">0</span>
                </div>
                <div>
                    <label for="max">Max:</label>
                    <input type="range" id="max" name="max" min="0" max="100" step="1">
                    <span id="maxValue">0</span>
                </div>
                <div>
                    <label for="img">Img:</label>
                    <input type="range" id="img" name="img" min="160" max="640" step="32">
                    <span id="imgValue">160</span>
                </div>
            </div>
            <div class="checkboxes">
                <div>
                    <input type="checkbox" id="ss" name="ss">
                    <label for="ss">SS</label>
                </div>
                <div>
                    <input type="checkbox" id="ssd" name="ssd">
                    <label for="ssd">SSD</label>
                </div>
                <div>
                    <input type="checkbox" id="half" name="half">
                    <label for="half">Half</label>
                </div>
            </div>
            <div class="textbox">
                <label for="class">Class:</label>
                <input type="text" id="class" name="class">
            </div>
            <div class="submit">
                <button id="submitButton">Submit</button>
            </div>
        </div>
        <div class="column">
            <img id="videoFeed" src="{{ url_for('video_feed') }}" width="640" height="480">
            <form id="message-form">
                <input type="text" id="user-input" placeholder="Enter username" value="key">
                <input type="text" id="message-input" placeholder="Enter message" value="value">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</body>
</html>
