/* Settings container styles */
.settings-container {
    display: flex;
    flex-direction: column;
  }
  
  .sliders {
    margin-bottom: 10px;
  }
  
  .sliders label {
    margin-right: 10px;
  }
  
  .neural_checkboxes {
    margin-top: 10px;
  }
  
  .neural_checkboxes label {
    margin-right: 5px;
  }
  