<!DOCTYPE html>
<html>
<head>
    <title>JayRadar</title>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <h1>JayRadar</h1>
    <div class="container">
        <div class="left-column">
            <div class="tabs">
                <button class="tab-link" onclick="openTab(event, 'tab1')">Config</button>
                <button class="tab-link" onclick="openTab(event, 'tab2')">Camera</button>
                <button class="tab-link" onclick="openTab(event, 'tab3')">Neural</button>
            </div>
            <div class="tab-contents">
                <div id="tab1" class="tab-content">
                    <select id="config">
                        <option value="default">Config: Default</option>
                        <option value="0">Config: 0</option>
                        <option value="1">Config: 1</option>
                        <option value="2">Config: 2</option>
                        <option value="3">Config: 3</option>
                        <option value="4">Config: 4</option>
                        <option value="5">Config: 5</option>
                        <option value="6">Config: 6</option>
                        <option value="7">Config: 7</option>
                        <option value="8">Config: 8</option>
                        <option value="9">Config: 9</option>
                        <!-- Add more options as needed -->
                    </select>
                    <div class="config_checkboxes">
                        <div>
                            <input type="checkbox" id="neural" name="neural" checked>
                            <label for="neural">Neural Active</label>
                        </div>
                        <div>
                            <input type="checkbox" id="april" name="april">
                            <label for="april">April Tags Active</label>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-content">
                    <select id="cam">
                        <option value="0">Cam: 0</option>
                        <option value="1">Cam: 1</option>
                    </select>
                    <div class="sliders">
                        <div>
                            <input type="checkbox" id="auto_exp" name="auto_exp">
                            <label for="auto_exp">Auto Exposure</label>
                        </div>
                        <div>
                            <label for="exp">Exposure:</label>
                            <input type="range" id="exp" name="exp" min="-10" max="0" step=".1">
                            <span id="expValue">-5</span>
                        </div>
                        <div>
                            <label for="cont">Contrast:</label>
                            <input type="range" id="cont" name="cont" min="0" max="10" step=".1">
                            <span id="contValue">1</span>
                        </div>
                        <div>
                            <label for="bri">Brightness:</label>
                            <input type="range" id="bri" name="bri" min="-255" max="255" step="5">
                            <span id="briValue">0</span>
                        </div>
                        <div>
                            <label for="red">Red Balance:</label>
                            <input type="range" id="red" name="red" min="-255" max="255" step="5">
                            <span id="redValue">0</span>
                        </div>
                        <div>
                            <label for="gre">Green Balance:</label>
                            <input type="range" id="gre" name="gre" min="-255" max="255" step="5">
                            <span id="greValue">0</span>
                        </div>
                        <div>
                            <label for="blu">Blue Balance:</label>
                            <input type="range" id="blu" name="blu" min="-255" max="255" step="5">
                            <span id="bluValue">0</span>
                        </div>
                    </div>
                </div>
                <div id="tab3" class="tab-content">
                    <div>
                        <select id="model">
                            {% for file in files %}
                            <option>{{ file }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="sliders">
                        <div>
                            <label for="conf">Conf:</label>
                            <input type="range" id="conf" name="conf" min="0" max="100" step="1">
                            <span id="confValue">0</span>
                        </div>
                        <div>
                            <label for="iou">IOU:</label>
                            <input type="range" id="iou" name="iou" min="0" max="100" step="1">
                            <span id="iouValue">0</span>
                        </div>
                        <div>
                            <label for="max">Max:</label>
                            <input type="range" id="max" name="max" min="0" max="100" step="1">
                            <span id="maxValue">0</span>
                        </div>
                        <div>
                            <label for="img">Img:</label>
                            <input type="range" id="img" name="img" min="160" max="640" step="32">
                            <span id="imgValue">160</span>
                        </div>
                    </div>
                    <div class="neural_checkboxes">
                        <div>
                            <input type="checkbox" id="ss" name="ss">
                            <label for="ss">SS</label>
                        </div>
                        <div>
                            <input type="checkbox" id="ssd" name="ssd">
                            <label for="ssd">SSD</label>
                        </div>
                        <div>
                            <input type="checkbox" id="half" name="half">
                            <label for="half">Half Precision</label>
                        </div>
                        <form method="post" action="/upload" enctype="multipart/form-data">
                            <input type="file" name="upload_file">
                            <button type="submit">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bottom-buttons">
                <button id="resetButton">Reset</button>
                <button id="saveButton">Save</button>
            </div>
        </div>
        <div class="right-column">
            <img id="videoFeed" src="{{ url_for('video_feed') }}" width="640" height="480">
            <div>
                <select id="videoSource">
                    <option value="{{ url_for('video_feed') }}">Raw Video</option>
                    <option value="{{ url_for('nn_feed') }}">All Detections</option>
                    <option value="{{ url_for('filtered_feed') }}">Filtered</option>
                </select>
            </div>
        </div>
    </div>
</body>
</html>
